@charset "UTF-8";

/***********************************
* font
***********************************/

$font-family: sans-serif;

/***********************************
* color
***********************************/

$theme-color: #fff;
$sub-color: #fff;

// text
$base-text-color: #fff;
$sub-text-color-1: #fff;
$sub-text-color-2: #fff;

// background
$base-bg-color: #fff;
$sub-bg-color: #fff;

/***********************************
* break-point
***********************************/

$pc-window-size: 1920px;
$tablet-window-size: 785px;
$sp-window-size: 390px;
