@charset "UTF-8";

.header {
  height: 70px;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #fff;
  opacity: 1;
  transition: 0.2s;
  z-index: $z-index-xx;

  &.start-fixed {
    animation: popup forwards 0.3s;
    position: fixed;
  }
  &.end-fixed {
    position: fixed;
    animation: popdown forwards 0.3s;
  }

  &.-sp-nav-menu-actice {
    background-color: transparent;
    transition: 0.2s;

    & .header__logo-warapper {
      opacity: 0;
      transition: 0.2s;
    }
  }
}

.header__inner {
  padding: 10px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-items {
  display: flex;
  align-items: center;
}

.header__nav-item {
  color: #111111;
  font-size: 1.4rem;
  font-size: clamp(1.4rem, convertVw(18, 1920), 1.8rem);

  &:not(:last-of-type) {
    margin-right: 3.3rem;
    margin-right: clamp(3.3rem, convertVw(45, 1920), 4.5rem);
  }

  &-link:hover {
    opacity: 0.7;
  }
}

@media screen and (max-width: $tablet-window-size) {
  .header__inner {
    padding: 10px 30px 10px 30px;
    .header__nav-items {
      display: none;
    }
  }
}

@media screen and (max-width: $sp-window-size) {
  .header__inner {
    padding: 10px 15px 10px 10px;
  }
}
