@charset "UTF-8";

.problem__logo {
  object-fit: cover;
  width: 100%;
}

.problem__boxes {
  margin-top: 4rem;
  margin-bottom: 2rem;
  width: 100%;
  height: 20rem;
  position: relative;
}

.problem__box {
  background-color: #647d8c;
  position: relative;
  border-radius: 4px;

  &.-speech-bubble-first:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -6%;
    width: 30px;
    height: 8px;
    background-color: #647d8c;
    transform: rotate(130deg);
  }

  &.-speech-bubble-second:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -6%;
    width: 30px;
    height: 8px;
    background-color: #647d8c;
    transform: rotate(40deg);
  }

  &.-speech-bubble-third:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -6%;
    width: 30px;
    height: 8px;
    background-color: #647d8c;
    transform: rotate(130deg);
  }

  &.-first-style {
    padding: 4rem 5.3rem 5rem 4.5rem;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
  }
  &.-second-style {
    padding: 3.4rem 3rem 3.6rem 3rem;
    position: absolute;
    bottom: 0;
    left: 32%;
  }
  &.-third-style {
    padding: 3rem;
    position: absolute;
    right: 3%;
  }
}

.problem__box-text {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  line-height: 1.2;

  &.-br:before {
    content: "\A";
    white-space: pre;
  }

  &.-strong {
    color: #ffff00;
  }
}

@media screen and (max-width: $tablet-window-size) {
  .problem__box.-first-style {
    padding: 28px;
    padding: clamp(28px, convertVw(40, 1110), 40px);
  }

  .problem__box.-second-style {
    padding: 23.8px 21px;
    padding: clamp(23.8px, convertVw(34, 1110), 34px)
      clamp(21px, convertVw(30, 1110), 30px);
    left: 31.5%;
  }

  .problem__box.-third-style {
    padding: 21px;
    padding: clamp(21px, convertVw(30, 1110), 30px);
  }

  .problem__box-text {
    font-size: 2.1rem;
    font-size: clamp(2.1rem, convertVw(30, 1110), 3rem);
  }

  .problem__boxes {
    height: 15rem;
  }
}

@media screen and (max-width: $sp-window-size) {
  .problem__box.-first-style {
    position: static;
    width: 90%;
    padding: 14px;
    padding: clamp(14px, convertVw(28, 776), 14px);
    box-sizing: border-box;
    transform: translateY(0%);
    margin-bottom: 14px;
    margin-bottom: clamp(14px, convertVw(20, 776), 20px);

    &.-speech-bubble-first:after {
      content: "";
      transform: rotate(45deg);
      left: 7%;
      display: none;
    }
  }

  .problem__box.-second-style {
    position: static;
    width: 90%;
    padding: 14px;
    padding: clamp(14, convertVw(28, 776), 14px);
    box-sizing: border-box;
    margin-bottom: 14px;
    margin-bottom: clamp(14px, convertVw(20, 776), 20px);

    &:after {
      content: "";
      display: none;
      transform: rotate(45deg);
      left: 7%;
    }
  }

  .problem__box.-third-style {
    position: static;
    width: 90%;
    padding: 14px;
    padding: clamp(14, convertVw(28, 776), 14px);
    box-sizing: border-box;

    &.-speech-bubble-third:after {
      content: "";
      display: none;

      transform: rotate(45deg);
      left: 7%;
    }
  }

  .problem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .problem__boxes {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .problem__box-text {
    font-size: 3rem;
    font-size: clamp(14px, convertVw(25, 776), 25px);

    &.-br:before {
      content: "";
    }
  }
}
